*.pyc
*.egg-info
.eggs
.cache/
.idea/
MANIFEST
.coverage
.coverage.*
htmlcov
flatland/_version.py
tests/cover
build
dist
html
junk
docs/coverage
docs/doctrees
docs/doctest
docs/html
docs/pickles
docs/source/_static
docs/source/_template
docs/text
docs/website
bench
bin
include
lib
.tox
